/* No Edit */
		:root {
			--bg-primary: rgb(0, 123, 255);
			--bg-light: rgb(248, 249, 250);
			--bg-dark: rgb(52, 58, 64);
			--bg-success: rgb(40, 167, 69);
			--bg-info: rgb(23, 162, 184);
			--bg-warning: rgb(255, 193, 7);
			--bg-danger: rgb(220, 53, 69);
		}
		html[mode="light"] {
			--body-bg: rgb(236, 236, 236);
			--card-bg: rgb(255, 255, 255);
			--callout-bg: rgb(255, 255, 255);
			--navbar-bg: rgb(45, 45, 45);
			--sidebar-bg: rgb(31, 31, 31);
			--dropdown-bg: rgb(255, 255, 255);
			--dropdown-bg-h: var(--bg-primary);
			--footer-bg: rgb(208, 208, 208);
			--form-bg: rgb(236, 236, 236);
			/* --separador: #xd; */
			--body-c: rgb(119, 119, 119);
			--card-c: rgb(58, 58, 58);
			--callout-c: rgb(60, 60, 60);
			--navbar-c: rgb(177, 177, 177);
			--sidebar-c: rgb(74, 74, 74);
			--sidebar-c-h: rgb(183, 183, 183);
			--dropdown-c: rgb(64, 64, 64);
			--dropdown-c-h: rgb(255, 255, 255);
			--light-alerts: rgb(255, 255, 255);
			--darks-alerts: rgb(255, 255, 255);
			--form-c: rgb(97, 97, 97);
			--footer-c: rgb(85, 85, 85);
		}
		html[mode="dark"] {
			--body-bg: rgb(0, 0, 0);
			--card-bg: rgb(10, 10, 10);
			--callout-bg: rgb(19, 19, 19);
			--navbar-bg: rgb(21, 21, 21);
			--sidebar-bg: rgb(21, 21, 21);
			--dropdown-bg: rgb(21, 21, 21);
			--dropdown-bg-h: var(--bg-primary);
			--footer-bg: rgb(17, 17, 17);
			--form-bg: rgb(43, 43, 43);
			/* --separador: #xd; */
			--body-c: rgb(105, 105, 105);
			--card-c: rgb(130, 130, 130);
			--callout-c: rgb(172, 172, 172);
			--navbar-c: rgb(177, 177, 177);
			--sidebar-c: rgb(74, 74, 74);
			--sidebar-c-h: rgb(183, 183, 183);
			--dropdown-c: rgb(187, 187, 187);
			--dropdown-c-h: rgb(255, 255, 255);
			--light-alerts: rgb(255, 255, 255);
			--darks-alerts: rgb(146, 146, 146);
			--form-c: rgb(167, 167, 167);
			--footer-c: rgb(241, 241, 241);
		}
		